.boldify {
  font-weight: bolder;
  font-family: Verdana, sans-serif;
}

.italify {
  font-style: italic;
}

.upperify {
  text-transform: uppercase;
}

.special-link {
  color: #c3073f;
  text-decoration: none;
  font-weight: bolder;
  font-family: Verdana, sans-serif;
}

.special-link:hover {
  color: #ed094d;
}
