/* General Button Styling */
button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  background-color: transparent;
  outline: none;
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
  font-weight: lighter;
  font-size: 15px;
  padding: 0 20px;
}

/* Navigation Button Styling */
.nav-button::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}

.nav-button:hover::after {
  width: 100%;
  transition: width 0.3s;
}

/* Altered nav button for sticky navbar scrolled */
.nav-button-alter {
  color: #343436;
}
.nav-button-alter::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: #343436;
  transition: width 0.3s;
}
.nav-button-alter:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.go-to-your-profile {
  text-transform: uppercase;
  padding: 1rem;
  color: #ea4452;
  font-family: 'Roboto', sans-serif;
  font-size: x-large;
  border-width: 2px;
  border-style: solid;
  transition: 1s;
  border-image: linear-gradient(to bottom, #ea4452, rgba(0, 0, 0, 0)) 1 100%;
}

.go-to-your-profile:hover {
  border-image: none;
}

/* Button styling that gets a bit darker on hover
     usually used for buttons like : Get Started    */
.get-started {
  border: 1px solid #c3073f;
  background-color: #c3073f;
  padding: 20px 40px;
  margin-left: 0;
  position: relative;
  overflow: hidden;
  font-size: large;
}
.get-started:hover {
  background-color: #960631;
  border: 1px solid #960631;
}

.learn-more {
  color: #c3073f;
  border: 1px solid #c3073f;
  background-color: transparent;
  padding: 20px 40px;
  margin-left: 20px;
  position: relative;
  overflow: hidden;
  font-size: large;
}
.learn-more:hover {
  background-color: #960631;
  color: #ffffff;
  border: 1px solid #960631;
}

/* Background sliding animation button styling */
.background-button {
  border: 1px solid #c3073f;
  background: none;
  padding: 10px 20px;
  margin: 0 5px;
  color: #c3073f;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

.background-button:hover {
  color: #fff;
}

.background-button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  background: #c3073f;
  z-index: -1;
  transition: 0.3s;
  border: 0 0 50% 50%;
}

.background-button:hover::before {
  height: 100%;
}

/* Background button altered for sticky navbar */
.background-button-alter {
  border: 1px solid #343436;
  background: none;
  padding: 10px 20px;
  margin: 0 5px;
  color: #343436;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

.background-button-alter:hover {
  color: #fff;
}

.background-button-alter::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  background: #343436;
  z-index: -1;
  transition: 0.3s;
  border: 0 0 50% 50%;
}

.background-button-alter:hover::before {
  height: 100%;
}
