#left-ear {
  animation: left-ear 1s alternate linear infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}
@keyframes left-ear {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-10deg);
  }
}

#right-ear {
  animation: right-ear 1s alternate linear infinite;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes right-ear {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(10deg);
  }
}

#one {
  animation: one 0.3s infinite alternate linear;
  transform-origin: right;
  transform-box: fill-box;
}
@keyframes one {
  from {
    transform: rotateZ(10deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
#three {
  animation: three 0.3s infinite alternate linear;
  transform-origin: right;
  transform-box: fill-box;
}
@keyframes three {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(10deg);
  }
}
#five {
  animation: five 0.3s infinite alternate linear;
  transform-origin: right;
  transform-box: fill-box;
}
@keyframes five {
  from {
    transform: rotateZ(10deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

#two {
  animation: two 0.3s infinite alternate linear;
  transform-origin: left;
  transform-box: fill-box;
}
@keyframes two {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-10deg);
  }
}
#four {
  animation: four 0.3s infinite alternate linear;
  transform-origin: left;
  transform-box: fill-box;
}
@keyframes four {
  from {
    transform: rotateZ(-10deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
#six {
  animation: six 0.3s infinite alternate linear;
  transform-origin: left;
  transform-box: fill-box;
}
@keyframes six {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-10deg);
  }
}

#lupa,
#lupa-shadow {
  animation: rise 2s alternate ease infinite;
  transform-origin: left bottom;
  transform-box: fill-box;
}
#right-arm {
  animation: rise 2s ease alternate infinite;
  transform-origin: center;
  transform-box: fill-box;
}
#left-arm {
  animation: rise 2s ease alternate infinite;
  transform-origin: bottom left;
  transform-box: fill-box;
}
@keyframes rise {
  from {
    transform: rotateZ(-3deg);
  }
  to {
    transform: rotateZ(3deg);
  }
}
