body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #292929;
  font-family: 'Montserrat', sans-serif;
}

::selection {
  color: #ffffff;
  background: #e91e63;
}
