body {
  padding-top: 11vh;
}

.nav-style {
  background-color: #292929;
  width: 100%;
  height: 8.5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  z-index: 1;
  transition: 0.25s;
  left: 0;
  top: 0;
  right: 0;
}

.nav-style li {
  display: inline-block;
}

.pd {
  padding-top: 6px;
  width: 30%;
  height: 30%;
}

.scrolled {
  background-color: rgb(245, 240, 240);
  box-shadow: 0px 5px 10px #aaaaaa;
}

.logo-black {
  display: none;
}

.scrolled-logo-normal {
  display: none;
}
